.pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  font-family: 'Montserrat', sans-serif;
  transition: all 1s ease-in-out;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.rightPanelActive .signUpContainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.container.rightPanelActive .signInContainer {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right, #33076c, #310a74);
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
  transform: translateX(50%);
}

.overlayPanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayLeft {
  transform: translateX(-20%);
  left: 0;
}

.container.rightPanelActive .overlayLeft {
  transform: translateX(0);
}

.overlayRight {
  right: 0;
  transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
  transform: translateX(20%);
}

.authForm {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.authInput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.authButton {
  border-radius: 20px;
  border: 1px solid #350b79;
  background-color: #360572;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin-top: 20px;
}

.authButton:active {
  transform: scale(0.95);
}

.authButton:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.cancelButton {
  position: absolute;
  top: 15px;
  right: 15px;
  color: red;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
